@import "common";
@import "svg";
@import "mixin";



/* header */ 
.header{
    position: relative;
    background: rgba(255,255,255,.28);
    .logo-wrap{
        a{
            background: url(../image/common/logo.png) no-repeat center;
            background-size: 100%;
        }
        
    }
    .gnb{
        > li{
            > a{
                color:#000000;
            }
        }
        
    }
    .logo-wrap{
        margin-right: 3rem;
        // a{
        //     background: url(../image/common/logo.png) no-repeat center;
        //     background-size: 100%;
        // }
        
    }
    &.main{
        position: absolute;
        
    }
    .gnb{
        > li{
            > a{
                color:#0e2240;
            }
        }
        
    }

    .gnb{
        &-box{
            max-width: 82.5rem;
            width:100%;
            height:100%;
            flex:1;
            .gnb{
                height:100%;
            }
        }
    }
    .user-area{
        height: 10rem;
        >div{
            height: 100%;
        }
        .button{
            &-sitemap{
                @include display-flex;
                @include flex-column;
                justify-content: space-between;
                width:4rem;
                height: 3rem;
                padding:0;
                margin: 0; 
                span{
                    width:4rem;
                    height:.4rem;
                    background: #000000;
                }
            }
        }
    }
}

.sitemap{
    display: none;
    &.open{
        display: block;
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        background: #ffffff;
    }
    &-header{
        height: 10rem;
        padding: 0 5rem;
        >div{
            @include display-flex;
            @include align-center;
            height:100%;
        }
        .button-close{
            width:3rem;
            height:3rem;
            background: url(../image/common/icon-close.png);
            background-size: 100%;
        }
    }
    >ul{
        display: table;
        margin: 0 auto;
        >li{
            @include display-flex;
            line-height: 10rem;
            >a{
                width: 31.5rem;
                font: {
                    size:3rem;
                    weight:500;
                }
                &+ul{
                    @include display-flex;
                    li{
                        a{
                            font: {
                                size:3rem;
                                weight:200;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* main-visual */ 
.main{
    &-visual{
        position: relative;
        &__inner{
            height: 98rem;
            background: url(../image/main/main-visual.jpg) no-repeat center;
            background-size: cover;
        }
    }
    &-middle{
        max-width: 140rem;
        margin: 0 auto;
        padding:12rem 0 9rem 0;
        h1{
            font: {
                size: 4.6rem;
                weight: bold;
            }
            >*{
                font: {
                    size: 4.6rem;
                    weight: bold;
                }
            }
        }
        .des{
            font-size: 2rem;
            color:#747478;
        }
        .img-wrap{
            img{
                display: block;
                margin: 0 auto;
            }
        }
        .button{
            &-wrap{
                margin-top: 10rem !important;
            }
            &-donation{
                width: 38rem;
                height: 9rem;
                margin: 0;
                background: url(../image/main/button-donation__directly.png) no-repeat center;
                border-radius: 1.5rem;
                color:#ff6464;
                font: {
                    size: 3rem;
                    weight: bold;
                }
                box-shadow: 1rem 1rem 1.6rem rgba(93,16,16,.18);
            }
        }
        
    }
    &-bottom{
        background: #f9f9f9;
        &__inner{
            max-width: 140rem;
            margin: 0 auto;
            padding:8rem 0 10rem 0;
        }
        .noticeEtc{
            margin: 0 -6rem;
            >div{
                flex:1;
                padding:0 6rem;
            }        
        }
        .notice{
            .title{
                margin-bottom:3rem;
                h2{
                    font: {
                        size:3.4rem;
                        weight:600;
                    }
                }
                .button-wrap{
                    margin-left: auto;
                    i{
                        display: block;
                        width:3.9rem;
                        height:2rem;
                        background: url(../image/main/icon-quick.png) no-repeat center;
                        background-size: cover
                    }
                }
            }
            ul{
                li{
                    @include display-flex;
                    @include align-center;
                    height: 6.5rem;
                    border-bottom:1px solid #e7e7e7;
                    &:first-child{
                        border-top:2px solid #000000;
                    }
                    a{
                        @include text-overflow;
                        font-size:1.8rem;
                    }
                    .date{
                        flex:none;
                        font-size:1.6rem;
                        color:#747478;
                        margin-left: auto;
                        padding-left: 2rem;
                    }
                }
            }
        }
    }
}
.donation{
    position: absolute;
    bottom:0;
    width:100%;
    &__inner{
        max-width: 140rem;
        margin: 0 auto;
        align-items: flex-end;
    }
    &-button{
        @include display-flex;
        @include flex-column;
        position: relative;
        width:47rem;
        height: 26rem;
        padding:3.5rem 2.2rem 3.5rem 1.8rem;
        background: #ff6464;
        border-radius: 0 4rem 0 0 ;
        &::before{
            position: absolute;
            top: 0;
            left: -200%;
            width:200%; 
            height:100%;
            background: #ff6464;
            content:""
        }
        .img-wrap{
            img{
                margin-top: -8.5rem;
            }
        }
        .text{
            font-size: 1.8rem;
            color:#ffffff;
            line-height: 2.7rem;
        }
        .button-wrap{
            margin: 0;
            margin-top: auto;
            button{
                width: 43rem;
                height: 8rem;
                margin: 0;
                background: url(../image/main/button-donation.jpg);
                border-radius: 1.5rem;
                color:#ff6464;
                font: {
                    size: 3rem;
                    weight: bold;
                }
                box-shadow: 1rem 1rem 1.6rem rgba(93,16,16,.18);
            }
        }
        &__top{
            margin-top: -3.5rem
        }
    }
    &-count{
        @include display-flex;
        @include flex-column;
        justify-content: space-between;
        flex:1;
        height: 20rem;
        padding:4rem;
        background: rgba(255,255,255,.88);
        &+&{
            border-left: 1px solid #eeeeee;
        }
        .title{
            font: {
                size:2.2rem;
                weight: bold;
            }
            span{
                font: {
                    size:2.2rem;
                    weight: bold;
                }
            }
        }
        .num{
            text-align: right;
            font: {
                size:4.8rem;
                weight: bold;
            }
            em{
                margin-left: 2rem;
                font: {
                    size:2.2rem;
                    weight: 500;
                }   
            }  
        }
    }
}




/* footer */
.footer{
    &__inner{
        border-top:2px solid;
        >div{
            >div{
                max-width: 140rem;
                margin: 0 auto;
            }
        }
    }
    &-banner{
        &__inner{
            height:8rem;
        }
        .text{
            font-size:1.5rem;
            color:#747478;
            *{
                font-size:1.5rem;
            }
            strong{
                em{
                    font-weight: 500;
                }
            }
        }
        .banner{
            &__inner{
                margin: 0 -.5rem;
                >div{
                    padding: 0 .5rem;
                }
            }
        }
    }
    &-privacy{
        background: #eeeeee;
        border-top:1px solid #d7d7d7;
        ul{
            margin: 0 -4rem;
            li{
                height:6.5rem;
                padding:0 4rem;
                a{
                    @include display-flex;
                    @include align-center;
                    height:100%;
                    font-size:1.6rem;
                    color:#747478;
                }
                &.privacy{
                    
                    a{
                        color:#000000;
                        font-weight:600;
                    }
                }
            }
        }
    }
    &-address{
        height:21rem;
        border-top:1px solid #dbdbdb;
        background: #e0e0e0;
        &__inner{
            @include display-flex;
            @include align-center;
            max-width: 140rem;
            height:100%;
            margin: 0 auto;
        }
        .footer-logo{
            margin-right:4.5rem;
        }
        .address-text{
            font-size:1.6rem;
            *{
                font-size:1.6rem;
                line-height: 2.6rem;
            }
            .detail{
                margin:0 -1.3rem;
                li{
                    position:relative;
                    padding:0 1.3rem;
                    line-height: 2.6rem;
                    font-size:1.6rem;
                    color:#222222;
                    &+li{
                        &::before{
                            position:absolute;
                            top:.7rem;
                            left:0;
                            width:1px;
                            height:1.3rem;
                            background: #222222;
                            content:""
                        }
                    }
                    
                }
            }
        }
    }
}




/*=======================================
==============  responsive ==============
=========================================*/ 

@media screen and(max-width:1400px){
    
}

@media screen and(max-width:1200px) {
    .header{
        .logo-wrap{
            margin-right:1rem !important;
        }
    }
    .noticeQuick{
        &__inner{
            flex-direction: column;
            height: 100%;
            margin: {
                left: 0;
                right:0;
            }
            >div{
                padding:1.9rem 0;
            }
        }
        &-left{
            height: 57.8rem;
        }
    }
    .system{
        &-wrap{
            width: 100%;
            >div{
                a{
                    padding: 1.9rem 0;
                }
            }
        }   
    }
}

@media screen and(max-width:720px) {
    .section{
        &.first{
            //height: calc(var(--vh, 1vh) * 100) !important;
            .section{
                &-content{
                    //padding-top: 25.8rem;
                    &__inner{
                        padding:0 3rem;
                    }
                    .quick-site__inner{
                        width:100%;
                        margin-top: 7rem;
                        justify-content: flex-start;
                    }
                }
            }
        }
        &.second{
            height: auto !important;
            padding:3rem;
            >div{
                >div{
                    @include flex-column;
                    >div{
                        width:100%;
                    }
                }
            }
            .notice{
                &-wrap{
                    width:100%;
                    flex-wrap: wrap;
                    >div{
                        width: calc(100% / 2);
                        &:nth-child(n+3){
                            border-top: 1px solid #e6eaf1;
                        }
                        &.first{
                            p{
                                font-size:2rem;
                            }
                            h2{
                                padding-bottom: 4rem;
                                font-size: 3.4rem;
                            }
                        }
                        .tit{
                            font-size: 2.2rem;
                        }
                        .txt{
                            width:100%;
                            height:auto;
                            font-size:2.2rem;
                        }
                        .date{
                            width:100%;
                            font-size:1.8rem;
                        }
                    }
                }
            }
            .system{
                &-wrap{
                    width:100%;
                    flex-wrap: wrap;
                    margin-top:3rem;
                    >div{
                        min-width: calc(100% / 2);
                        &:nth-child(n+3){
                            border-top: 1px solid #e6eaf1;
                        }
                        p{
                            font-size:2rem;
                        }    
                    }
                }
            }
            .banner{
                &-wrap{
                    width:75%;
                    margin:0 auto;
                    &__inner{
                        position:relative;
                        width:100%;
                        height:auto;
                        max-height:86.8rem;
                        margin-left:0;
                        margin-top: 6rem;
                        margin-bottom: 3rem;
                        &::before{
                            position: absolute;
                            top: -3rem;
                            right: -25%;
                            width:100%; 
                            height:calc(100% + 6rem);
                            background: #ffffff;
                            content:""
                        }
                        .swiper{
                            &-slide{
                                height:100%;
                                img{
                                    max-width: 100%;
                                    max-height:100%;
                                    height:100%;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
        &-content{
            padding: 5rem 0;
            h1{
                line-height: 5.5rem;
                letter-spacing: -1px;
                br{
                    display: block;
                }
            }
        }
    }
    .noticeQuick{
        &-left{
            &__inner{
                padding:3rem;
                padding-right: 1rem;
            }
            .noticeQuickSlide{
                &__inner{
                    flex-direction: column;
                }
            }
            .thumb{
                &-swiper{
                    &__left{
                        width: calc(100% - 2rem);
                        height: calc(100% / 2);
                        margin-right: 0rem;
                        padding-bottom: 1rem;
                        &::before{
                            width:100%;
                            height: 1px;
                            top: auto;
                            bottom: -1rem;
                            left:0;
                        }
                        .swiper{
                            &-slide{
                                width:100% !important;
                                .tit{
                                    height:5rem;
                                    margin-top: 1.7rem;
                                    -webkit-line-clamp: 1;
                                    font-size: 2.4rem;
                                    line-height: 3.4rem;
                                }
                                .cont{
                                    margin-top:1.5rem;
                                    font-size: 2.4rem;
                                    height: 9.6rem;
                                    -webkit-line-clamp: 2;
                                    line-height: 3.3rem;

                                }
                                .date{
                                    font-size: 1.8rem;
                                }
                                
                                a{
                                    span{
                                        width: 6rem;
                                        height: 6rem;
                                    }
                                }
                            }
                            &-arrow{
                                top: 0rem;
                                right:0;
                                bottom: auto;
                                left:auto;
                                >div{
                                    top:0;
                                    margin: 0;
                                }
                            }
                        }
                    }
                    &__right{
                        height: calc(100% / 2);
                        overflow: hidden;
                        padding-left: 0;
                        margin-top: 3rem;
                        &::-webkit-scrollbar { 
                            width: 0; 
                        }
                        &::-webkit-scrollbar-thumb { 
                            background-color: #bacfef; 
                            border-radius: 1rem; 
                        }
                        &::-webkit-scrollbar-track { 
                            background-color: #dfdfdf; 
                            border-radius: 1rem; 
                        }
                        .swiper{
                            &-wrapper{
                                padding-top:0rem;
                            }
                            &-slide{
                                padding-right:2rem;
                                a{
                                    height:4rem;
                                    padding:0;
                                    &:hover{
                                        background: transparent;
                                    }
                                    span{
                                        font-size: 2rem;
                                    }
                                }
                                .tit{
                                    line-height: 4rem;
                                    font-size: 2rem;
                                }
                                .date{
                                    margin-left: 1rem;
                                    font-size: 2rem;
                                }
                            }
                            &-scrollbar{
                                display: block;
                                top: 0;
                                right:0;
                                width: .7rem;
                                height:100%;
                                &-drag{
                                    background-color: #bacfef;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__inner{
            margin-top: 2.1rem;
        }
    }
    .mouse-container, #fp-nav{
        display: none !important;
    }
    .footer__inner{
        .footer{
            &-banner{
                &__inner{
                    height:10rem;
                }
            }
        }
        .swiper{
            &-button{
                &-prev{
                    left:3rem;
                }
                &-next{
                    right:3rem;
                }
            }
            &-slide{
                a{
                    img{
                        max-height:100%;
                    }
                }
            }
        }
        .footer-info{
            ul{
                display: none !important;
            }
            .site{
                margin: 0;
                padding:1.85rem 3rem;
                border-bottom:1px solid #dedede;
                .lf{
                    width:50%;
                    flex:1;
                    &+.lf{
                        margin-left: 2rem;
                    }
                }
                select{
                    width:100%;
                    height:7.5rem;
                    margin:0;
                    font-size:2rem;
                }
            }
            
            &__inner{
                padding:0;
                >div{
                    flex-direction: column-reverse;
                    >div{
                        margin-top:0;
                        padding:5.5rem 3rem;
                        address{
                            margin-top:0;
                            font-size:2.2rem;
                            line-height: 1.73;
                        }
                        .copyright{
                            margin-top:3.7rem;
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        } 
    }
    .system-wrap > div {
        a{
            padding:5rem 0;
        }
        p{
            margin-top:3rem;
            font-size: 2rem;
        }
    }
}
