@import "common";
@import "svg";
@import "mixin";


.sub-visual{
    position: relative;
    height: 42rem;
    .sub-title{
        @include display-flex;
        @include align-center;
        padding-top:10rem;
        height: 34rem;
    }
    background-position: center;
    background-size: cover;
    h1{
        font-size: 5.4rem;
        font-weight: 500;
    }
    &.intro{
        background-image: url(../image/sub/sub-visual01.png);
    }
    &__inner{
        position: relative;
        max-width: 140rem;
        width:100%;
        height:100%;
        margin:0 auto;
    }
}

.location{
    position: absolute;
    left: 0;
    bottom: 0;
    .inner{
        max-width: 140rem;
        height: 8rem;
        margin: 0 auto;
    }
    .inner_se{
        //width: 64rem;
        height: 100%;
        background: #ff6464;
        border-radius: 0 2rem 0 0;
        &::before{
            position: absolute;
            left: -200%;
            width:200%;
            height:100%;
            background: #ff6464;
            content:""
        }
        >*{
            flex:1;
            border-left:1px solid rgba(255,255,255,.3)
        }
    }
    .home{
        display: block;
        width: 8rem;
        height: 100%;
        flex:none;
        .img_wrap{
            @include d-flex;
            height: 100%;
        }
    }
    .depth{
        width: 28rem;
        a{
            width:100%;
            padding:0 2rem;
            font-size: 2rem;
            i{
                display: inline-block;
                width:1.7rem;
                height: 1rem;
                margin-left: auto;
                background: url(../image/sub/icon-arrowbottom.png) no-repeat center;
            }
        }
        >a{
            @include display-flex;
            @include align-center;
            height: 100%;
            color:#ffffff;
            font-weight: 500;
            &+ul{
                display: none;
                border: 1px solid #ff6464;
                border-top:none;
                li{
                    height: 6.5rem;
                    background: #ffffff;
                    &+li{
                        border-top:1px solid #ffd0d0;
                    }
                    a{
                        @include display-flex;
                        @include align-center;
                        height:100%;
                        font-size: 1.8rem;
                    }
                }
            }
        }
        &.second{
            flex:none; 
            width:28rem;
            >a{
                color: #ffdfdf;
            }
        }
       
    }
}

.sub-contents{
    //max-width: 140rem;
    margin: 0 auto;
    margin-bottom: 12rem;
    &__title{
        padding:8rem 0;
        font-size:4.6rem;
        font-weight: 600;
        text-align: center;
    }
    &__inner{
        max-width: 140rem;
        margin: 0 auto;
    }
}

/* board */ 
.sch{
    &-box{
        margin-bottom: 4rem;
        select{
            width:16rem;
            height:6rem;
            background:#f8f8f8 url(../image/common/icon/icon-selectBottom.png) no-repeat right 2rem center; 
            border:none;
            border-radius: 1rem;
            text-indent: 2rem;   
        }
        .total{
            font-size:2rem;
            span{
                color:#ff6464;
                font-weight:500;
            }
        }
    }
    &-input{
        @include display-flex;
        @include align-center;
        width:43rem;
        height:6rem;
        margin-left:5px;
        background:#f8f8f8;
        border-radius: 1rem;   
        //overflow: hidden;
        input{
            height:100%;
            border:none;
            background:none;
            border-radius: 1rem;
            flex:1;
            
            &::placeholder{
                text-indent: 2rem;
                font-size:1.8rem;
                color:#555555;
            }
        }
        button{
            width:6.5rem;
            height:100%;
            border-radius: 1rem;
            background: url(../image/common/icon/icon-search.png) no-repeat center;
        }
    }
}
.table_basic{
    text-align: center;
    thead{
        th{
            border:none;
            font: {
                size:2rem;
                weight:400;
            }
            &:first-child{
                border-radius: 1rem 0 0 1rem;
            }
            &:last-child{
                border-radius: 0rem 1rem 1rem 0rem;
            }
        }
    }
    th{
        height: 7.5rem;
        padding:25px 0;
        background-color:#f5f5f5;
        //border:1px solid #dcdcdc;
        font-size:18px;
        vertical-align:middle; 
        text-align: center;
        
    }
    td{
        height: 7.5rem;
        padding:23px;
        font: {
            size:2rem;
            weight:200;
        }
        vertical-align:middle;
        &:first-child{
            border-left:none;
        }
        
    }
    tbody{
        tr{
            border-bottom:1px solid #eaeaea;
        }
    }
    tr{
        th{
            &:first-child{
                border-left:none;
            }
            &:last-child, &[scope="col"]{
                border-right:none;
            }
        }
        td{
            border-right:none;
            &.title{
                padding-left:0;
                text-align: left;
                a{
                    @include text-overflow;
                    font: {
                        size:2rem;
                        weight:200;
                    }
                }
            }
            &.date{
                padding:0;
            }
        }
    }
}
.paination{
    margin-top: 6rem;
    a{
        @include d-flex;
        width: 4.2rem;
        height:4.2rem;
        font-size: 1.6rem;
        background:#f8f8f8;
        border-radius: 5px;
        &+a{
            margin-left: 3px;
        }
        &.on{
            background:#ff6464;
            color:#ffffff;
        }
        i{
            display: inline-block;
        }
        &.first{
            i{
              width: 1.3rem;
              height: 1.3rem;
              background: url(../image/common/icon/icon_clampFirst.png);  
            }
        }
        &.prev{
            i{
              width: .7rem;
              height: 1.3rem;
              background: url(../image/common/icon/icon_clampPrev.png);  
            }
        }
        &.last{
            i{
              width: 1.3rem;
              height: 1.3rem;
              background: url(../image/common/icon/icon_clampFirst.png);  
              transform: rotate(180deg);
            }
        }
        &.next{
            i{
              width: .7rem;
              height: 1.3rem;
              background: url(../image/common/icon/icon_clampPrev.png);  
              transform: rotate(180deg);
            }
        }
    }
}
.view{
    &-header{
        padding:5.5rem 0;
        background:#f5f5f5;
        border-radius: 1rem;
        .tit{
            margin-bottom: 4rem;
            font-size: 3rem;
            font-weight: 400;
            color:#000;
            text-align:center;    
            word-break:keep-all;
            
        }
        .info{
            justify-content:center;
            *{
                font-size:1.8rem;
                color:#555555;
            }
            >p{
                position: relative;
                padding:0 2.6rem;
                &+p{
                    &::before{
                        position: absolute;
                        top: 3px;
                        left:0;
                        width:1px;
                        height:1.4rem;
                        background: #555555;
                        content:""
                    }
                }
            }
        }
    }
    &-file{
        padding:1rem 0;
        border-bottom:1px solid #eaeaea;
        span{
            @include d-flex;
            width:14.5rem;
            height:5.5rem;
            margin-right:2.2rem;
            font: {
                size:2rem;
                width:400;
            }
            color:#000000;
            background: #f8f8f8;
            border-radius: 1rem;
        }
        ul{
            li{
                line-height:normal;
                a{
                    font: {
                        size:2rem;
                        width:300;
                    }
                    color: #555555;
                }
            }
        }
    }
    &-cont{
        padding: 4rem 2rem;
        font-size:2rem;
        line-height: 3.6rem;
    }
}

.post{
    &-link{
        font-size:2rem;
        border-top:1px solid #000000;
        border-bottom:1px solid #000000;
        >div{
            height: 8rem;
            &+div{
                border-top:1px solid #eaeaea;
            }
        }
        i{
            @include d-flex;
            width: 4.2rem;
            height: 4.2rem;
            margin-right:2rem;
            background: #f8f8f8 url(../image/common/icon/icon-postPrev.png) no-repeat center;
        }
        .post{
            margin-right: 3.5rem;
            font-weight: 500;
        }
        
    }
    &-next{
       i{
           transform: rotate(180deg);
       }
    }
}

.button{
    &-normal{
        width:14rem;
        height:6rem;
        background: #ff6464;
        border-radius: 1rem;
        color:#ffffff;
        font-size: 2rem;
    }
}


